NODE_ENV=dev
PORT=8000

# ##### env local
DB_HOST=localhost
DB_PORT=3306
DB_NAME=internal_office
DB_USER=root
DB_PASSWORD=root

# ##### S3/MinIO Configuration
# สำหรับ MinIO (local development)
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=assets
S3_FORCE_PATH_STYLE=true